backoff==2.2.1
pandas==2.0.1
pydantic==1.10.7
orjson==3.6.6
clickhouse_driver==0.2.6
openpyxl==3.1.2
numpy==1.23.5
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow_serving_api==2.12.1
whois==0.9.27
psycopg2-binary==2.9.6
celery==5.3.1
grpcio==1.56.0
grpcio-tools==1.56.0
dnspython==2.3.0
loguru==0.6.0